@charset "utf-8";

*{padding: 0; margin: 0;}
body{
    font-family: "맑은 고딕",arial,sans-serif;
    font-size: 12px;
    color: #333;
}
.title01{
    text-align: center;
    margin-top: 6px;
    line-height: 40px;
}
.title01 > img {
    width: 160px;
}
.border01{
    border-top: 3px solid #e44d26;
    border-bottom: 3px solid #e44d26;
}
.border02{
    border-top: 3px solid #1572b6;
    border-bottom: 3px solid #1572b6;
}
.bgcolor01{background: #f16529;}
.bgcolor02{background: #33a9dc;}

section{
    margin-bottom: 10px;
}
dl{
    margin: 0px 5px;
}
dt{
    font-size: 14px;
    color: #ffffff;
    padding: 12px 0px;
    font-weight: bold;
    text-indent: 10px;
    border-bottom: 1px solid #ffffff;
}
dd{
    background-color: rgb(238,238,238);
    border-bottom: 1px solid #ccc;

}
dd > a {
    font-size: 13px;
    line-height: 40px;
    color: #333333;
    text-indent: 20px;
    text-decoration: none;
    display: block;
}
dd:hover{
    background-color: rgb(255,255,159);
    box-shadow: 0px 0px 30px rgb(172,172,172);
    font-weight: bold;
    transition: 0.3s;
    transform: scale(1,1);
}
dd > a:hover{
    text-indent: 40px;
}
footer{
    line-height: 50px;
    text-align: center;
    background-color: #333333;
}
footer > address {
    font-style: normal;
    color: #fff;
}

